<div class="container mb-5 mt-5">
  <div class="row">
    <div class="col-lg-6 col-centered">
      <div class="v-login" aria-live="assertive">
        <div class="v-input-form">
          <div class="v-top-form mb-4">
            <h1 translate>{{ translatePath }}.title</h1>
          </div>
          <form
            [formGroup]="changePasswordForm"
            (keydown)="
              onKeyToSignIn(
                $event,
                changePasswordForm.value,
                changePasswordForm.valid
              )
            "
          >
            <label class="c-label" translate
              >{{ translatePath }}.newPassword</label
            >
            <div class="inp-wrapper">
              <input
                type="password"
                class="inp inp-padding-label"
                formControlName="password"
              />
            </div>
            <div aria-live="polite">
              <div
                *ngIf="
                  changePasswordForm.controls.password.hasError('maxlength') &&
                  !changePasswordForm.controls.password.hasError('required')
                "
                class="errormsg"
              >
                <span role="heading" aria-level="2" translate
                  >{{ translatePath }}.passwordError</span
                >
              </div>
            </div>
            <label class="c-label mt-4" translate
              >{{ translatePath }}.confirmPassword</label
            >
            <div class="inp-wrapper">
              <input
                type="password"
                class="inp inp-padding-label"
                formControlName="confirmPassword"
              />
            </div>
            <div
              *ngIf="
                changePasswordForm.controls.confirmPassword.hasError(
                  'notEquivalent'
                ) && changePasswordForm.controls.confirmPassword.touched
              "
              class="errormsg"
            >
              <span role="heading" aria-level="2" translate
                >{{ translatePath }}.passwordError2</span
              >
            </div>
          </form>
        </div>
        <div class="v-bottom-form pb-3">
          <button
            class="btn c-button-round mb-3"
            type="button"
            [ngClass]="{disabled: !changePasswordForm.valid}"
            [disabled]="!changePasswordForm.valid"
            (click)="
              changePassword(changePasswordForm.value, changePasswordForm.valid)
            "
            translate
          >
            {{ translatePath }}.button
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
