<div class="container l-confirm-dialog">
  <div class="row">
    <div class="col-12 mx-auto text-center">
      <div mat-dialog-content class="l-modal-content">
        <h1 class="c-dialog-title" color="primary">{{ data.title }}</h1>
        <form class="l-form" [formGroup]="supportToolsForm">
          <mat-form-field appearance="outline" class="l-form-field">
            <mat-label translate
              >superAdministrator.manage.disability.support-tools.modal-manage.name-input</mat-label
            >
            <input
              type="text"
              matInput
              #messageName
              maxLength="{{ formOptions.lengthName }}"
              formControlName="name"
              required
            />
            <mat-error
              *ngIf="supportToolsForm.get('name').hasError('required')"
            >
              {{
                'superAdministrator.manage.disability.support-tools.modal-manage.error-name-input'
                  | translate
              }}
            </mat-error>
            <mat-hint class="mb-3 c-hint" align="end">
              <span class="sr-only"
                >{{ formOptions.lengthName - messageName.value.length }}
                caracteres restantes
              </span>
              <span aria-hidden="true">
                {{ messageName.value.length }} /
                {{ formOptions.lengthName }}
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="l-form-field">
            <mat-label translate
              >superAdministrator.manage.disability.support-tools.modal-manage.version-input</mat-label
            >
            <input
              type="text"
              matInput
              #messageVersion
              maxLength="{{ formOptions.lengthVersion }}"
              formControlName="version"
              required
            />
            <mat-error
              *ngIf="supportToolsForm.get('version').hasError('required')"
            >
              {{
                'superAdministrator.manage.disability.support-tools.modal-manage.error-version-input'
                  | translate
              }}
            </mat-error>
            <mat-hint class="mb-3 c-hint" align="end">
              <span class="sr-only"
                >{{ formOptions.lengthVersion - messageVersion.value.length }}
                caracteres restantes
              </span>
              <span aria-hidden="true">
                {{ messageVersion.value.length }} /
                {{ formOptions.lengthVersion }}
              </span>
            </mat-hint>
          </mat-form-field>

          <mat-form-field appearance="outline" class="l-form-field">
            <mat-label translate
              >superAdministrator.manage.disability.support-tools.modal-manage.disability-label</mat-label
            >
            <mat-select formControlName="disabilities" multiple>
              <mat-option
                *ngFor="let disability of listDisabilities"
                [value]="disability.id"
                >{{ disability.name }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="supportToolsForm.get('disabilities').hasError('required')"
            >
              {{
                'superAdministrator.manage.disability.support-tools.modal-manage.error-disability-input'
                  | translate
              }}
            </mat-error>
          </mat-form-field>
          <div appearance="outline" class="l-state">
            <mat-label translate
              >superAdministrator.manage.disability.support-tools.modal-manage.state-label</mat-label
            >
            <mat-radio-group formControlName="isActive">
              <mat-radio-button class="c-radio" value="1">{{
                'superAdministrator.manage.disability.support-tools.modal-manage.state-active-value'
                  | translate
              }}</mat-radio-button>
              <mat-radio-button class="c-radio" value="0">{{
                'superAdministrator.manage.disability.support-tools.modal-manage.state-inactive-value'
                  | translate
              }}</mat-radio-button>
            </mat-radio-group>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row" class="l-buttons">
    <button
      class="c-cancel-btn"
      mat-raised-button
      type="button"
      (click)="cancel()"
    >
      {{
        'superAdministrator.manage.disability.support-tools.modal-manage.btn-cancel'
          | translate
      }}
    </button>
    <button
      class="c-submit-btn"
      mat-raised-button
      type="button"
      (click)="confirmFunction()"
      attr.aria-disabled="{{ !supportToolsForm.valid }}"
      tabindex="0"
      [ngClass]="{disabled: !supportToolsForm.valid}"
    >
      {{ data.next }}
    </button>
  </div>
</div>
