@import '../../../../styles/main-theme.scss';

.l-confirm-dialog {
  .l-title {
    text-align: center;
    .c-icon {
      font-size: 50px;
      color: mat-color($primary);
    }

    .c-dialog-title {
      font-size: 25px;
      font-weight: bold;
      color: mat-color($primary);
    }
  }

  .l-form {
    text-align: center;

    .l-input-group {
      label {
        margin-right: 20px;
        font-size: 18px;
        display: inline-block;
        color: mat-color($dark-gray);
      }

      .l-form-field {
        width: 50%;
        display: inline-block;
      }

      .c-hint {
        font-size: 14px;
      }
    }

    .v-buttons {
      text-align: center;
      margin-top: 10%;
      margin-bottom: 2%;

      .c-button {
        min-width: 175px;
        border-radius: 33px;
        border: 1px solid transparent;
        &:hover {
          filter: brightness(0.8);
        }
      }

      .b-gray {
        background-color: $mercury;
        color: mat-color($dark-gray, 500);
      }

      .b-primary {
        background-color: mat-color($primary);
        color: mat-color($white);
      }

      .b-primary:disabled {
        background-color: $mercury;
        color: mat-color($dark-gray, 100);
      }
    }
  }
}

::ng-deep.mat-form-field-wrapper {
  .mat-form-field-infix {
    padding: 0.5em 0 0.8em 0;
  }
}
