<div class="container l-confirm-dialog">
  <div class="l-title mt-4">
    <i class="fas fa-lock c-icon mb-3" aria-hidden="true"></i>
    <h1 class="c-dialog-title" translate>
      {{ translatePathChangePassModal }}.title
    </h1>
  </div>
  <form class="l-form mt-5" [formGroup]="passwordForm">
    <div class="l-input-group">
      <label for="oldPasswordId" translate>
        {{ translatePathChangePassModal }}.currentPassword
      </label>
      <mat-form-field appearance="outline" class="l-form-field">
        <input
          matInput
          #oldPassword
          formControlName="oldPassword"
          id="oldPasswordId"
          [type]="hide ? 'password' : 'text'"
          maxLength="{{ formOptions.lengthInputPassword }}"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="hide ? labelShowPassword : labelHidePassword"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            passwordForm.get('oldPassword').hasError('required') &&
            passwordForm.get('oldPassword').touched
          "
          translate
        >
          {{ translatePathChangePassModal }}.currentPasswordError
        </mat-error>
        <mat-hint class="mt-1 c-hint" align="end">
          <span class="sr-only"
            >{{ formOptions.lengthInputPassword - oldPassword.value.length }}
            {{
              translatePathChangePassModal + '.charactersRemaining' | translate
            }}
          </span>
          <span class="c-hint" aria-hidden="true">
            {{ oldPassword.value.length }} /
            {{ formOptions.lengthInputPassword }}
          </span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="l-input-group">
      <label for="newPasswordId" translate>
        {{ translatePathChangePassModal }}.newPassword</label
      >
      <mat-form-field appearance="outline" class="l-form-field">
        <input
          matInput
          #newPassword
          formControlName="newPassword"
          id="newPasswordId"
          [type]="hide ? 'password' : 'text'"
          maxLength="{{ formOptions.lengthInputPassword }}"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="hide ? labelShowPassword : labelHidePassword"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            passwordForm.get('newPassword').hasError('required') &&
            passwordForm.get('newPassword').touched
          "
          translate
        >
          {{ translatePathChangePassModal }}.newPassword
        </mat-error>
        <mat-hint class="mt-1 c-hint" align="end">
          <span class="sr-only"
            >{{ formOptions.lengthInputPassword - newPassword.value.length }}
            {{
              translatePathChangePassModal + '.charactersRemaining' | translate
            }}
          </span>
          <span class="c-hint" aria-hidden="true">
            {{ newPassword.value.length }} /
            {{ formOptions.lengthInputPassword }}
          </span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="l-input-group">
      <label for="confirmPasswordId" translate>
        {{ translatePathChangePassModal }}.repeatPassword</label
      >
      <mat-form-field appearance="outline" class="l-form-field">
        <input
          matInput
          #confirmPassword
          formControlName="confirmPassword"
          id="confirmPasswordId"
          [type]="hide ? 'password' : 'text'"
          maxLength="{{ formOptions.lengthInputPassword }}"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="hide ? labelShowPassword : labelHidePassword"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error
          *ngIf="
            passwordForm.get('confirmPassword').hasError('notEquivalent') &&
            passwordForm.get('confirmPassword').touched
          "
          translate
        >
          {{ translatePathChangePassModal }}.repeatPasswordError
        </mat-error>
        <mat-hint class="mt-1 c-hint" align="end">
          <span class="sr-only"
            >{{
              formOptions.lengthInputPassword - confirmPassword.value.length
            }}
            {{
              translatePathChangePassModal + '.charactersRemaining' | translate
            }}
          </span>
          <span class="c-hint" aria-hidden="true">
            {{ confirmPassword.value.length }} /
            {{ formOptions.lengthInputPassword }}
          </span>
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="v-buttons">
      <button (click)="cancel()" mat-raised-button class="mr-5 c-button b-gray">
        {{ translatePathChangePassModal + '.cancelButton' | translate }}
      </button>
      <button
        [ngClass]="{disabled: !passwordForm.valid}"
        [disabled]="!passwordForm.valid"
        (click)="changePassword(passwordForm.value, passwordForm.valid)"
        mat-raised-button
        class="c-button b-primary"
      >
        {{ translatePathChangePassModal + '.saveButton' | translate }}
      </button>
    </div>
  </form>
</div>
