@import '../../../../styles/main-theme.scss';
.l-filter-client {
  .l-head {
    padding-left: 9vh;
    padding-top: 4vh;
    .c-title {
      align-self: flex-end;
      font-size: 24px;
      text-align: left;
      letter-spacing: 0;
      font-weight: bold;
      color: mat-color($primary);
      opacity: 1;
    }
    .c-delimiter {
      background-color: mat-color($primary);
      border-top: 3px solid mat-color($primary);
    }
  }
  .l-subtitle {
    padding-left: 9vh;
    .c-border-search {
      border: 1px solid transparent;
    }
    .c-subtitle {
      color: mat-color($dark-gray);
      font-size: 18px;
    }
  }
}

.board {
  padding-left: 20vh;
  background: mat-color($white);
  margin-top: 3%;
  .nav-tabs.wizard {
    position: relative;
    margin: auto;
    margin-bottom: 0;
    box-sizing: border-box;
    margin-top: 0;
  }
  .board-inner {
    background-size: 30%;
    width: 30%;
    margin: 0 auto;
    .nav-tabs.wizard > li.active > a,
    .nav-tabs.wizard > li.active > a:hover,
    .nav-tabs.wizard > li.active > a:focus {
      color: mat-color($primary);
      cursor: default;
      border: 0;
      border-bottom-color: transparent;
    }
    div.round-tabs {
      width: 30px;
      height: 30px;
      line-height: 27px;
      display: inline-block;
      border-radius: 100px;
      background: mat-color($white);
      z-index: 2;
      position: absolute;
      left: unset;
      text-align: center;
      font-size: 15px;
      border: 1px solid mat-color($primary);
    }
  }
}

.nav-tabs.wizard {
  border-bottom: 0px;
}
.nav-tabs.wizard > li.active > a div.round-tabs {
  background: mat-color($white);
}
.nav-tabs.wizard > li {
  cursor: pointer;
  width: 25%;
}
.nav-tabs.wizard > li:after {
  content: ' ';
  position: absolute;
  left: 45%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: mat-color($white);
  transition: 0.1s ease-in-out;
}
.nav-tabs.wizard > li.active:after {
  content: ' ';
  position: absolute;
  left: 45%;
  opacity: 1;
  margin: 0 auto;
  bottom: 0px;
  border: 10px solid transparent;
  border-bottom-color: mat-color($white);
}

.nav-tabs.wizard li > a.active-bullet {
  font-weight: bold;
}
.nav-tabs.wizard li > a {
  font-weight: normal;
  color: #333836;
}
.nav-tabs > li > a {
  color: #565151;
  font-weight: normal;
}
.nav-tabs .nav-link.active {
  font-weight: bold;
}
.nav-tabs > li {
  float: left;
}
.board-inner {
  a {
    span {
      color: mat-color($primary);
    }
    &.active-bullet {
      div {
        &.round-tabs.all {
          background: mat-color($primary);
          span {
            color: mat-color($white);
          }
        }
      }
    }
  }
}
.nav-tabs.wizard li > a.active-bullet::after {
  content: '.';
  position: relative;
  font-size: 34px;
  border-radius: 50%;
  left: 12px;
  top: 10px;
  font-weight: bold;
  color: mat-color($primary);
}
.nav-tabs.wizard > li:after {
  content: ' ';
  position: absolute;
  left: 45%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: mat-color($white);
  transition: 0.1s ease-in-out;
}

.board-inner {
  a {
    span {
      color: mat-color($primary);
    }
    &.active {
      div {
        &.round-tabs.all {
          background: mat-color($primary);
          span {
            color: mat-color($white);
          }
        }
      }
    }
  }
}

.disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}
